<div fxLayout="column" class="cls-contain-dialog-cart">
    <mat-icon class="button-close" (click)="close()"> close </mat-icon>
    <div fxLayout="column" class="cls-container">
        
        <h2> Carrito de compras</h2>

        <div class="cls-list-container"> 
            <ul>
                <div  *ngFor="let product of cartProducts">
                    <li>
                        <div class="cls-list" fxLayout="row">

                            <div class="list-item" >
                                <div >
                                <img class="cls-icon-image"
                                    [src]="product.prd_img">
                                <span>{{product.prd_name}}</span>
                                </div>
                                <span style="color: blue;">${{product.prd_price}}</span>
                                <div class="cls-prd-options">
                                    <app-incrementer
                                        [currentQty]="product.qty"
                                        (incrementEvent)="changeQty($event, product)">
                                    </app-incrementer>
                                    <mat-icon (click)="deleteProduct(product)">delete</mat-icon>
                                </div>
                            </div>
                        </div>
                    </li>
                </div>
            </ul>
        </div>

        <div *ngIf="cartProducts.length !== 0" style="margin-top: 1rem;">
            Precio total: ${{totalPrice}}
        </div>
        <div class="cls-save" >
            <button class="btn btn-primary cls-button"
                    [disabled]="cartProducts.length === 0"
                    (click)="buyProduct()">
                Comprar
            </button>
        </div>
    </div>
</div>
