<nav class="navbar navbar-light" style="background-color: #e3f2fd;">
    <div style=" margin-left: 2rem;
                display: flex;
                flex-flow: row;
                align-items: center;
                gap: 5px;">
        <mat-icon > home </mat-icon>
        <a class="navbar-brand" href="#"> HOME</a>
    </div>
    <div style="margin-right: 1rem; cursor: pointer; position: relative;" (click)="test()">
        <div class="icon-noti"> 3 </div>
        <mat-icon > shopping_cart </mat-icon>
    </div>
</nav>