<div class="cls-container"  style="display:flex; position:relative; height: 100%; width:100%; ">

<ul class="flex-container">
    <div style="width: 20%;"> 
        <app-product-card
            [productInfo]="inputTest[0]">
        </app-product-card>
    </div>
    <div style="width: 20%;"> 
        <app-product-card
            [productInfo]="inputTest[1]">
        </app-product-card>
    </div>
    <div style="width: 20%;"> 
        <app-product-card
            [productInfo]="inputTest[2]">
        </app-product-card>
    </div>
    <div style="width: 20%;"> 
        <app-product-card
            [productInfo]="inputTest[0]">
        </app-product-card>
    </div>
    <div style="width: 20%;"> 
        <app-product-card
            [productInfo]="inputTest[0]">
        </app-product-card>
    </div>
    <div style="width: 20%;"> 
        <app-product-card
            [productInfo]="inputTest[0]">
        </app-product-card>
    </div>
</ul>
</div>
